.head {
    text-align: center;
}

.header{
    text-align: right;
    margin-right: auto;
}

.img {
    margin-bottom: auto;
    border-radius: 10px;
}

.row {
    display: flex;
    gap: 10px;
}

.row img {
    width: 40%;
    border-radius: 10px;
    border-color: black;
}