body {
    margin: 0;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 1.8;
    color: #374151;
    background: radial-gradient(circle, #4ade80, #40826d);
}

div {
    display: flex;
    unicode-bidi: isolate;
    justify-content: space-around;
}
.navbar {
    width: 100%;
    background-color: #40826d;
}

.navbar-brand{
    color: #ffffff;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: bold;
    font-size: 16px;
    line-height: 1.8;
}

.banner h1 {
    color: black;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.8;
    margin-bottom: auto;
    text-align: center;
}


.text-box {
    display: flex;
    padding: 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-family: "Kanit", sans-serif;
}

.toc-card {
    background: #ffffff;
    border-radius: 16px;
    border: 10px solid #d8ffe4;
    box-shadow: 0 4px 20px rgba(57, 57, 57, 0.6);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    margin-left: 50;
    margin-right: 50;
}


.host:hover {
    transform: scale(1.02) translate(0);
    box-shadow: 0 4px 20px rgba(6, 99, 59, 0.227);
    border: #074b36;
}

footer {
    background-color: #40826d;
    color: white;
    text-align: center;
    padding: 15px;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: bold;
}

